<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a *ngIf="type=='admin' " [routerLink]="['/dashboard']" class="navbar-brand"><img src="assets/images/logo.png"></a>
    <a *ngIf="type=='employee' "  [routerLink]="['/training']" class="navbar-brand"><img src="assets/images/logo.png"></a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span>{{firstname}} {{lastname}}</span>
        <img src="assets/images/user2-160x160.jpg" class="topuser"><i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <img src="assets/images/user2-160x160.jpg" class="topuser2">
          <span>{{firstname}} {{lastname}} </span>

        </li>
        <li><a href="javascript:void(0)" (click)="logout()" class="logoutbtn"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div *ngIf="type=='admin' " class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
          </div>
          <!-- /input-group -->
        </li>

        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>

        <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Manage Admin  <span class="caret"></span></a>


          <ul class="dropdown-menu">
            <li ><a [routerLink]="['/manageadmin']"> Admin List</a></li>
            <li><a [routerLink]="['/addadmin']">Add  Admin</a></li>


          </ul>
        </li>

        <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Manage Employee <span class="caret"></span></a>

        <ul class="dropdown-menu">
          <li ><a [routerLink]="['/manageemployee']">Employee List</a></li>
          <li><a [routerLink]="['/addemployee']">Add Employee</a></li>
        </ul>
        </li>
        <li ><a [routerLink]="['/companylist']">Manage Company</a></li>

        <li ><a href="javascript:void(0);"> Manage Onboarding Process</a></li>
        <li ><a href="javascript:void(0);"> Onboarding Report</a></li>
        <li ><a href="javascript:void(0);"> Manage Email</a></li>
        <li ><a [routerLink]="['/myaccount']"> My Account</a></li>
        <!-- <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
             <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="javascript:void(0);">Page 1-1</a></li>
             <li><a href="javascript:void(0);">Page 1-2</a></li>
             <li><a href="javascript:void(0);">Page 1-3</a></li>
           </ul>
         </li>-->


      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
