
<app-adminheader></app-adminheader>

<div class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="content_header_block">
        <ol class="breadcrumb">
          <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a href="javascript:void(0)" class="active">Manage Profile </a></li>
          <li><a href="javascript:void(0)" class="active">Edit Profile </a></li>

        </ol>
        <div class="clearfix"></div>
      </div>
      <h1 class="page-header"><i class="fa fa-circle" aria-hidden="true"></i><h1>My Account</h1>
      <div class="clearfix"></div>
      <div class="admintable">
        <h3> Edit My Account</h3>
        <div class="formsection">
          <h6 class="form-grouptext"> All the fields marked "*" are required fields and must be filled.</h6>

          <form id="add_Admin" name="add_Admin" role="form"  novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
            <div class="box-body">
              <div class="form-group">
                <label >First Name<span>*</span> :</label>
                <input type="text" class="form-control" placeholder="First Name" [formControl]="dataForm.controls['fname']">
                <span *ngIf="!dataForm.controls['fname'].valid && dataForm.controls['fname'].touched">First Name field can not be blank</span>
              </div>
              <div class="form-group">
                <label >Last Name<span>*</span> :</label>
                <input type="text" class="form-control" placeholder="Last Name" [formControl]="dataForm.controls['lname']">
                <span *ngIf="!dataForm.controls['lname'].valid && dataForm.controls['lname'].touched">Last Name field can not be blank</span>
              </div>
              <div class="form-group email_div">
                <label >Email address<span>*</span> :</label>
                <input type="email" class="form-control" placeholder="email" readonly="readonly" [formControl]="dataForm.controls['email']">
                <span *ngIf="!dataForm.controls['email'].valid && dataForm.controls['email'].touched ">Email field can not be blank & Give proper email id!</span>
                <!--<span *ngIf="dataForm.controls['email'].hasError('invalidEmail') && dataForm.controls['email'].valid">Give proper email id!</span>-->
              </div>
              <div class="form-group">
                <label >Address :</label>
                <textarea class="form-control2"  placeholder="Address" [formControl]="dataForm.controls['address']" style="columns: 20;"></textarea>
                <span *ngIf="!dataForm.controls['address'].valid && dataForm.controls['address'].touched">Address is Required!</span>
              </div>
              <div class="form-group">
                <label >Telephone number<span>*</span> :</label>
                <input type="text" class="form-control" placeholder="Telephone Number" [formControl]="dataForm.controls['telephoneno']">
                <span *ngIf="!dataForm.controls['telephoneno'].valid && dataForm.controls['telephoneno'].touched">telephone-no Required!</span>
              </div>

              <div class="form-group">
                <label >Mobile Number<span>*</span> :</label>
                <input type="text" class="form-control" placeholder="Mobile Number" [formControl]="dataForm.controls['mobileno']">
                <span *ngIf="dataForm.controls['mobileno'].touched && !dataForm.controls['mobileno'].valid">mobile-no Required!</span>
              </div>
            </div>
            <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-adminfooter></app-adminfooter>
