<app-adminheader></app-adminheader>

<div class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="content_header_block">
        <ol class="breadcrumb">
          <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a href="javascript:void(0)" class="active">Manage Onboarding Category </a></li>
          <li><a href="javascript:void(0)" class="active">Edit Category</a></li>
        </ol>
        <div class="clearfix"></div>
      </div>
      <h1 class="page-header"><i class="fa fa-circle" aria-hidden="true"></i>  Manage Admin</h1>
      <div class="clearfix"></div>
      <div class="admintable">
        <h3> Add Category</h3>
        <div class="formsection">
          <h6 class="form-grouptext"> All the fields marked "*" are required fields and must be filled.</h6>

          <form id="add_Admin" name="add_Admin" role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)"> <!--novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)"-->
            <div class="box-body">
              <div class="form-group">
                <label >Category Name<span>*</span> :</label>
                <input type="text" class="form-control" placeholder="category Name"[formControl]="dataForm.controls['catname']">
                <span *ngIf="!dataForm.controls['catname'].valid && dataForm.controls['catname'].touched">Lesson name can not be blank</span>
              </div>

                <div class="box-body">
                  <div class="form-group">
                    <label >Description<span>*</span> :</label>
                    <textarea class="form-control2" placeholder="Description"[formControl]="dataForm.controls['description']"></textarea>
                    <span *ngIf="!dataForm.controls['description'].valid && dataForm.controls['description'].touched">Description name can not be blank..</span>
                  </div>
                  <div class="box-body">
                    <div class="form-group">
                      <label >Company Name<span>*</span> :</label>
                      <select multiple="multiple"
                              [formControl]="dataForm.controls['companies']">
                        <option value="">Select Companies</option>
                        <option [value]="company._id" *ngFor="let company of companylist">
                          {{company.companyname}}</option>
                      </select>
                    </div>

                    <div class="box-body">
                      <div class="form-group">
                        <label >Active?<span>*</span> :</label>
                        <input type="checkbox" class="check1" [formControl]="dataForm.controls['status']">
                        <span *ngIf="!dataForm.controls['status'].valid && dataForm.controls['status'].touched"></span>
                      </div>
                      <!--<div class="box-body">
                        <div class="form-group">
                          <label >Status<span>*</span> :</label>
                          <input type="check-box" class="form-control" >
                        </div>-->
                      <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
