<app-adminheader></app-adminheader>

<div class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="content_header_block">
        <ol class="breadcrumb">
          <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a href="javascript:void(0)" class="active">Manage Employee </a></li>

        </ol>
        <div class="clearfix"></div>
      </div>
      <h1 class="page-header"><i class="fa fa-circle" aria-hidden="true"></i> Manage Employee</h1>

      <div class="clearfix"></div>

      <div class="content_header_block">
        <div class="clearfix"></div>

        <div class="newblock1">

          <input type="text" name="search" ng-model="searchkey" class="search1" placeholder="Search Employee">

          <a [routerLink]="['/addemployee']" class="addfrinderbtn"> Add Employee</a>

          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>




      <div class="admintable">
        <h3> Manage Employee List</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr >
              <th scope="col">Id</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Gender</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Zip</th>
              <th scope="col">Email</th>
              <th scope="col">phoneno.</th>
              <th scope="col">Date</th>
              <th scope="col">Company Relation</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of datalist; let i = index">
              <td [routerLink]="['/editemployee',item._id]">{{i+1}}</td>
              <td [routerLink]="['/editemployee',item._id]">{{item.firstname}}</td>
              <td [routerLink]="['/editemployee',item._id]">{{item.lastname}}</td>
              <td [routerLink]="['/editemployee',item._id]">{{item.gender}}</td>
              <td [routerLink]="['/editemployee',item._id]">{{item.address}}</td>
              <td [routerLink]="['/editemployee',item._id]">{{item.city}}</td>
              <td [routerLink]="['/editemployee',item._id]">{{item.state}}</td>
              <td [routerLink]="['/editemployee',item._id]">{{item.zip}}</td>
              <td [routerLink]="['/editemployee',item._id]">{{item.email}}</td>
              <td [routerLink]="['/editemployee',item._id]">{{item.phoneno}}</td>
              <td [routerLink]="['/editemployee',item._id]">
                {{unixtodatetimeConverter(0,item.date)}}

              </td>
              <td>
                <span class="center_span">{{item.empcomp.length}}</span>
                <span (click)="addcomp(item,template1)" class="addbtn">Manage Company</span>
              </td>
              <td ><span (click)="deleteemployee(item._id,template)"class="deletebtn">Delete</span>
                </td>
            </tr>
            <!-- <tr>
               <td>2</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td><a href="javascript:void(0);">Cell</a></td>
             </tr>
             <tr>
               <td>3</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td><a href="javascript:void(0);">Cell</a></td>
             </tr>
             <tr>
               <td>4</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td><a href="javascript:void(0);">Cell</a></td>
             </tr>
             <tr>
               <td>5</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td>Cell</td>
               <td><a href="javascript:void(0);">Cell</a></td>
             </tr>-->
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>
<app-adminfooter></app-adminfooter>
<ng-template #template>
  <div class="modal-body">
    <h1>Do you want to delete?</h1>
    <button type="button" class="btn btn-default" (click)="delete(selectedempid,templatecommon)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

<ng-template #templatecommon>
  <div class="modal-body">
    <h1>{{message}}</h1>

  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-body1">
    <h1>Choose Your Company</h1>
    <div class="modal-body2">
    <select multiple="multiple"  [(ngModel)]="companyval">
      <option value="">Select Companies</option>
      <option [value]="company._id" *ngFor="let company of companylist">
        {{company.companyname}}</option>


    </select>
    </div>
    <button type="button" class="btn btn-default1" (click)="update(template1)">UPDATE</button>
  </div>
</ng-template>

<!--
<ng-template #templatecommon1>
  <div class="modal-body">
    <h1>{{message}}</h1>

  </div>
</ng-template>-->
