<app-adminheader></app-adminheader>
<div class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="content_header_block">
        <ol class="breadcrumb">
          <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a href="javascript:void(0)" class="active">Manage Company </a></li>

        </ol>
        <div class="clearfix"></div>
      </div>
      <h1 class="page-header"><i class="fa fa-circle" aria-hidden="true"></i> Manage Company</h1>

      <div class="clearfix"></div>

      <div class="content_header_block">
        <div class="clearfix"></div>

        <div class="newblock1">

          <input type="text" name="search" ng-model="searchkey" class="search1" placeholder="Search company">

          <a [routerLink]="['/managecompany']" class="addfrinderbtn"> Add company</a>

          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="admintable">
        <h3> Manage company List</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr >
              <th scope="col">#</th>
              <th scope="col">Company name</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of datalist; let i = index">
              <td [routerLink]="['/editcompany',item._id]">{{i+1}}</td>
              <td [routerLink]="['/editcompany',item._id]">{{item.companyname}}</td>
              <td [routerLink]="['/editcompany',item._id]">{{item.description}}</td>
              <td (click)="deletecompany(item._id,template)"><span class="deletebtn">Delete</span></td>

            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>

<app-adminfooter></app-adminfooter>
<ng-template #template>
  <div class="modal-body">
    <h1>Do you want to delete?</h1>
    <button type="button" class="btn btn-default" (click)="delete(selectedcompanyid,templatecommon)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

<ng-template #templatecommon>
  <div class="modal-body">
    <h1>{{message}}</h1>

  </div>
</ng-template>